= image_tag "about-us.jpg", alt: "About Us", class: "img-responsive"

%h1.vtks What makes us different
%p We believe in using a burger like a blank canvas. Combining unique ingredients in new and delicious ways. Freshness is the key to an amazing burger. That is why we make everything by hand.
%h2.vtks What we mean by freshness

%ul
  %li Our sauces are house made.
  %li Our patties are hand formed and seasoned.
  %li Our buns are made daily by a local baker.

= link_to "Get a free quote!", book_path, class: "btn btn-lg btn-monster"
