.text-center
  %h1 Catering page is currently under construction.

  %h3 To request the Burger Monster truck at your event #{link_to "email", "mailto:ocburgermonster@gmail.com?subject=Catering%20Request"}
  %h3 Or call us at (714) 886-9627

= image_tag "under-construction.jpg", class: "img-responsive"
