.embed-responsive.visible-xs
  %iframe.embed-responsive-item{src: "https://calendar.google.com/calendar/embed?src=ocburgermonster%40gmail.com&mode=AGENDA&showTitle=0&wkst=1&bgcolor=%23ffffff&color=%231B887A&ctz=America%2FLos_Angeles"}
.embed-responsive.hidden-xs
  %iframe.embed-responsive-item{src: "https://calendar.google.com/calendar/embed?src=ocburgermonster%40gmail.com&showTitle=0&wkst=1&bgcolor=%23ffffff&color=%231B887A&ctz=America%2FLos_Angeles"}
