@font-face {
  font-family: Oswald;
  src: asset-url("Oswald-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Oswald;
  src: asset-url("Oswald-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: VTKS;
  src: asset-url("vtks-distress.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Feast of Flesh";
  src: asset-url("feasfbi_.ttf");
  font-weight: 400;
  font-style: normal;
}
