body {
  font-family: Oswald, arial, sans-serif;
  font-size: 16px;
  color: rgba(#fff, 0.8);
  background-color: #060606;
}

main {
  min-height: 100vh;
  min-height: calc(100vh - 70px - 60px);
  margin: 70px 0 10px;

  @include tablet {
    min-height: calc(100vh - 85px - 65px);
    margin: 85px 0 15px;
  }

  @include desktop {
    min-height: calc(100vh - 105px - 75px);
    margin: 105px 0 25px;
  }
}
