body {
  font-family: Oswald, arial, sans-serif;
  font-size: 16px;
  color: #ddd;
  background-color: #111;
}

main {
  min-height: 100vh;
  min-height: calc(100vh - 81px - 70px);
  margin: 80px 0 20px;

  @include tablet {
    min-height: calc(100vh - 101px - 80px);
    margin: 100px 0 30px;
  }

  @include desktop {
    min-height: calc(100vh - 131px - 100px);
    margin: 130px 0 50px;
  }
}
