.about,
.contact {
  text-align: center;

  img {
    margin: 0 auto;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 28px;
    @include spacing(margin, 30, top);
  }

  p {
    max-width: 600px;
    margin: 0 auto;
    text-align: justify;
  }

  ul {
    list-style: none;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    @include spacing(margin, 20, bottom);
  }
}

.new_contact {
  max-width: 750px;
  margin: 0 auto;

  h2 {
    margin: 20px 0 10px;
  }

  p {
    float: left;
    width: 100%;
    margin-bottom: 5px;
  }

  a {
    color: rgba(#43a047, 0.8);

    &.active,
    &:hover,
    &:focus {
      color: rgba(#006f3e, 0.8);
    }
  }

  .help-block {
    text-align: left;
  }
}
