.new_contact {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 15px;

  h2 {
    margin: 0 0 25px;
  }

  p {
    float: left;
    width: 100%;
    margin-bottom: 5px;
  }

  a {
    color: rgba(#43a047, 0.8);
    text-transform: uppercase;

    &.active,
    &:hover,
    &:focus {
      color: rgba(#006f3e, 0.8);
    }
  }
}
