.home {
  .container {
    @include spacing(margin, 20, bottom);

    & > div {
      padding: 0;
    }
  }

  h1 {
    margin: 0;
    text-align: center;
    @include spacing(margin, 20, bottom);

    @include tablet {
      font-size: 48px;
    }
  }

  .img-responsive {
    float: left;
    width: 33.3%;
  }

  .embed {
    max-width: 750px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
