%footer
  .container
    %span.col-xs-6.col-sm-3 Orange County, CA
    %span.col-xs-6.col-sm-3.col-sm-push-6 (714) 886-9627
    %span.col-xs-12.col-sm-6.col-sm-pull-3.copyright Copyright &copy; #{copyright_date} Burger Monster
